<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/commons.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
       

        <div id="app" class="container-500">
           <div class="row center">
                <h1>과목 목록</h1>
           </div>

           <!-- 등록 화면-->
           <div class="row center">
              <input type="text" v-model.number="no" placeholder="번호"><br>
              <input type="text" v-model="name" placeholder="이름"><br>
              <input type="text" v-model.number="period" placeholder="기간"><br>
              <input type="text" v-model.number="price" placeholder="가격"><br>
              <input type="text" v-model="type" placeholder="종류"><br>
              <button v-on:click="addItem()">등록</button>
           </div>
           
           <div class="row" v-for="(subject, index) in subjectList" v-bind:key="subject.no">
          
          
                <div v-if="subjectList[index].edit == true">
                번호 :  {{subject.no}}<br>
                이름 : <input type="text" v-model="subjectList[index].name"><br>
                기간 : <input type="text" v-model.number="subjectList[index].period"><br>
                가격 : <input type="text" v-model.number="subjectList[index].price"><br>
                종류 : <input type="text" v-model="subjectList[index].type"><br>
                <i class="fa-solid fa-save ms-20" v-on:click="changeToDefault(index)"></i>
              </div>

              <div v-else>
                번호 : {{subjectList[index].no}} <br>
                이름 : {{subjectList[index].name}} <br>
                기간 : {{subjectList[index].period}} <br>
                가격 : {{subjectList[index].price}} <br>
                종류 : {{subjectList[index].type}} 
                <i class="fa-solid fa-edit ms-20" v-on:click="changeToEdit(index)"></i>
               <i class="fa-solid fa-trash ms-20" v-on:click="deleteItem(index)"></i>
              </div>

           </div>

          </div>


        

      
        <script src="https://unpkg.com/vue@3.2.36"></script>
        <script>
   
          const app = Vue.createApp({
                // 데이터 설정 영역
                data(){
                    return {
                        // 화면에서 사용할 데이터 선언

                 
                      subjectList : [
                        {no:1, name:"자바과정", period:30, price:500000, type:"오프라인", edit:false},
                        {no:2, name:"HTML과정",period:30, price :1200000, type:"오프라인", edit:false },
                        {no:3, name:"CSS과정", period:30, price:1500000, type:"오프라인", edit:false},
                      
                   
                      ],
                      no : "",
                      name : "",
                      period : "",
                      price : "",
                      type : "",
                      check : false,
                    };
                },
            
                computed:{
                   
                },
                methods:{
                    addItem(){
                      const choice = window.confirm("입력한 정보로 등록하시겠어요?");
                      if(!choice) return;
                      const data = {
                        no : this.no,
                        name : this.name,
                        period : this.period,
                        price : this.price,
                        type : this.type,
                        edit : false,

                      };
                      this.subjectList.push(data);

                      // 초기화
                      this.no = "",
                      this.name = "",
                      this.period = "",
                      this.price = "",
                      this.type = ""
                      
                    },
                    changeToEdit(index){
                      this.subjectList[index].edit = true;
                    },
                    changeToDefault(index){
                      this.subjectList[index].edit = false;
                    },
                    deleteItem(index){
                      this.subjectList.splice(index,1);
                    },
                 
                  },
                
            });
            app.mount("#app");
        </script>
</body>
</html>