<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/commons.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <title>Document</title>
</head>
<body>
       

        <div id="app">
            <div class="container-300">
                <div class="row center">
                    <h1>포켓몬 수정/삭제</h1>
                </div>
                <div class="row" v-for="(pocketmon,index) in pocketmonList" :key="pocketmon.no">
                    <!--
                        목록에서 직접 수정을 할 경우 상태값을 추가로 설정하여 화면을 변화
                        - edit라는 이름으로 true/false를 설정하여 구현
                        - 최초에는 없으므로 undefined 상태이며 이 때는 일반모드로 간주
                    -->
                    <div v-if="pocketmonList[index].edit == true">
                        <div>번호 :{{pocketmonList[index].no}}</div>
                        <div>이름 : <input v-model="pocketmonList[index].name"></div>
                        <div>속성 : <input v-model="pocketmonList[index].type"></div>
                        <button type="button" @click="cancelEdit(index)">취소</button>
                        <button type="button" @click="sendEdit(index)">저장</button>
                    </div>
                    <div v-else>
                    <div>번호 : {{pocketmon.no}}</div>
                    <div>이름 : {{pocketmon.name}}</div>
                    <div>속성 : {{pocketmon.type}}</div>
                    <button type="button" @click="changeEdit(index)">수정</button>
                    <button type="button" @click="deleteItem(index)">삭제</button>
                    </div>
                </div>
            </div>
        </div>

      
        <script src="https://unpkg.com/vue@3.2.36"></script>
        <script>
   
          const app = Vue.createApp({
                // 데이터 설정 영역
                data(){
                    return {
                        pocketmonList : [],
                        pocketmonListCopy:[],
                    };
                },
            
                computed:{
                   
                },
                methods:{
                    async loadList(){
                        const resp = await axios.get("http://localhost:8080/pocketmon/");
                        this.pocketmonList.splice(0);
                        this.pocketmonListCopy.splice(0);
                        this.pocketmonList.push(...resp.data);
                        // lodash에서 제공하는 깊은 복사 명령 사용
                        const copy = _.cloneDeep(resp.data);
                        this.pocketmonListCopy.push(...copy);
                    },
                    changeEdit(index){
                        this.pocketmonList[index].edit = true;
                       
                    },
                    cancelEdit(index){
                        this.pocketmonList[index].edit = false;
                        this.pocketmonList[index].name = this.pocketmonListCopy[index].name;
                        this.pocketmonList[index].type =  this.pocketmonListCopy[index].type;
                    },
                    // 지정한 위치의 데이터를 서버로 전송하여 수정 처리
                    async sendEdit(index){
                        const url = "http://localhost:8080/pocketmon/";
                        
                        const data = this.pocketmonList[index];
                        const resp = await axios.put(url,data);
                        // console.log(resp);

                        // 입력창만 제거
                        // this.pocketmonList[index].edit = false;
                        // +사본 코드를 변경하도록 처리

                        // 목록 다시 불러오기(문제 : 원본데이터가 남아있음)
                        this.loadList();


                    },
                    async deleteItem(index){
                        const choice = window.confirm("정말?");
                        if(!choice) return;

                        const no = this.pocketmonList[index].no;
                        const url = "http://localhost:8080/pocketmon/"+no;
                        const resp = await axios.delete(url);
                        console.log(resp);

                        this.loadList();
                    },
                },
                watch:{

                },
                created(){ // hook
                    this.loadList();
                },
            });
            app.mount("#app");
        </script>
</body>
</html>