<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/commons.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <title>Document</title>
</head>
<body>
       

        <div id="app">
            <div class="container-600">
                <div class="row center">
                    <h2>과목 수정/삭제</h2>
                </div>
                <div class="row" v-for="(subject,index) in subjectList" :key="subject.no">
                    <div v-if="subjectList[index].edit == true">
                        
                            <div>번호 : {{subjectList[index].no}}</div>
                            <div>과목명 : <input type="text" v-model="subjectList[index].name"></div>
                            <div>수강기간 : <input type="text" v-model="subjectList[index].period"></div>
                            <div>수강료 : <input type="text" v-model="subjectList[index].price"></div>
                            <div>강의유형 : <input type="text" v-model="subjectList[index].type"></div>
                            <button type="button" @click="updateItem(index)">수정</button>
                            <button type="button" @click="changeDefault(index)">취소</button>
                    </div>
                     <div v-else>
                        <div>번호 : {{subjectList[index].no}}</div>
                        <div>과목명 : {{subjectList[index].name}}</div>
                        <div>수강기간 : {{subjectList[index].period}}</div>
                        <div>수강료 : {{subjectList[index].price}}</div>
                        <div>강의유형 : {{subjectList[index].type}}</div>
                        <button type="button" @click="changeEdit(index)">수정</button>
                        <button type="button" @click="deleteItem(index)">삭제</button>
                     </div>   
                    </div>
                </div>
            </div>
        </div>

      
        <script src="https://unpkg.com/vue@3.2.36"></script>
        <script>
   
          const app = Vue.createApp({
                // 데이터 설정 영역
                data(){
                    return {
                        subjectList : [],
                        subjectListCopy : [],
                    };
                },
            
                computed:{
                   
                },
                methods:{
                    async loadList(){
                        const url = "http://localhost:8080/subject/";
                        this.subjectList.splice(0);
                        this.subjectListCopy.splice(0);
                        const resp = await axios.get(url);
                        this.subjectList.push(...resp.data);

                        const copy = _.cloneDeep(resp.data);
                        this.subjectListCopy.push(...copy);
                    },
                    changeEdit(index){
                        this.subjectList[index].edit = true;
                    },
                    changeDefault(index){
                        this.subjectList[index].edit = false;
                    },
                    async deleteItem(index){
                        const choice = window.confirm("삭제하시겠습니까?");
                        if(!choice) return;

                        const no = this.subjectList[index].no;
                        const url = "http://localhost:8080/subject/"+no;

                        const resp = await axios.delete(url);

                        this.loadList();
                    },
                    async updateItem(index){
                        const url = "http://localhost:8080/subject/";
                        const data = this.subjectList[index];
                        const resp = await axios.put(url,data);

                        this.loadList();
                    },
                },
                watch:{

                },
                created(){
                    this.loadList();
                },
            });
            app.mount("#app");
        </script>
</body>
</html>